
*.json
MR/.ipynb_checkpoints/pandas_exer-checkpoint.ipynb
.vscode/settings.json
GISAlgorithms_NingchuanXiao/sourceProject/GISAlgorithms_NingchuanXiao/Debug/
GISAlgorithms_NingchuanXiao/sourceProject/GISAlgorithms_NingchuanXiao/.vs/
ML/.ipynb_checkpoints/